//кнопки
.oy-btn {
  font-family: var(--font);
  padding: 29px 40px;
  border: none;
  background: var(--black);
  position: relative;
  border-radius: var(--border-radius-20);
  color: var(--white);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  transition: .5s ease;
  cursor: pointer;
  text-align: left;
  text-decoration: none;
  border: 1px solid var(--black);

  @media screen and (max-width: 767px) {
    padding: 19px 20px;
    font-size: 15px;
    border-radius: var(--border-radius-15);
  }

  &:hover {
    background: var(--gray)
  }

  &:disabled {
    background: var(--black-40)
  }

  &--arrow {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &--transparent {
    background: none;
    color: var(--black);

    &:hover {
      background: var(--light);
    }

  }

  &--center {
    text-align: center;
  }
}

//инпутс
.oy-group {
  position: relative;
  transition: margin .5s ease;

  &[data-error] {
    margin-bottom: 20px;

    &:after {
      content: attr(data-error);
      font-size: 14px;
      margin-top: 5px;
      color: var(--red);
      letter-spacing: 0.28px;
    }
  }

  &[data-sign] {
    margin-bottom: 20px;

    &:after {
      content: attr(data-sign);
      font-size: 14px;
      margin-top: 5px;
      color: var(--black-70);
      letter-spacing: 0.28px;

    }

  }

}

.oy-field {
  border-radius: var(--border-radius-15);
  border: 1px solid var(--black-20-solid);
  padding: 15px 25px;
  font-size: 18px;
  box-sizing: border-box;
  font-family: var(--font);
  outline: none;
  background: none;
  transition: border .5s ease;
  width: 100%;

  &::placeholder {
    color: var(--black-40);
  }

  &:hover {
    border: 1px solid var(--black-40)
  }

  &:focus {
    border: 1px solid var(--black-40)
  }

  @media screen and (max-width: 767px) {
    padding: 20px;
    font-size: 15px;
  }

}

.oy-group-control {
  position: absolute;
  right: 25px;
  top: 13.5px;
  display: flex;
  align-items: center;
  gap: 15px;

  @media screen and (max-width: 767px) {
    top: 18px;
  }
}

.oy-view-close-pass {
  width: 26px;
  height: 26px;
  background-image: url(~@/assets/icon/icon-pass-view-close.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  user-select: none;
  cursor: pointer;

  &.open {
    background-image: url(~@/assets/icon/icon-pass-view-open.svg)
  }

}