:root {
  --gray: #313539;
  --light: #E4E4E4;
  --bg: #F0F0F0;
  --main-btn: #AB20ED;
  --purple: rgb(197, 73, 255);
  --soft-purple-on-black: #D57CFF;
  --soft-gradient: #E2A1BF;
  --green: #61C23E;
  --red: #F64A14;
  --yellow: #F6BA14;
  --white: #FFF;
  --black: #272B32;
  --black-70: rgba(39, 43, 50, 0.70);
  --black-40: rgba(39, 43, 50, 0.40);
  --black-20: rgba(39, 43, 50, 0.20);
  --black-20-solid: #C8C9CA;
  --white-40: rgba(255, 255, 255, 0.40);

  --font: 'Gilroy', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --border-radius-20: 20px;
  --border-radius-15: 15px;

}